@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/sprite";
//@include sprites($spritesheet-sprites);

html {
  font-family: $base-font;
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
}

*,
*::before,
*::after { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

a {
  opacity: 1;
  transition: opacity ease-out 0.15s;
  &:hover {
    opacity: 0.6;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
  padding-top: 60px;
  @media screen and (min-width: $tablet) {
    padding-top: 80px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  @media screen and (min-width: $tablet) {
    padding: 0 40px;
  }
  @media screen and (min-width: $desktop) {
    max-width: $content;
    padding: 0;
  }
}

//Модули
@import "modules/modules";
