section.rent
	.container
		h2.rent__title.section__title.section__title--white Аренда или покупка?
		p.rent__text В текущей ситуации мы видим преимущество именно в аренде IPv4
		ul.rent__list
			li.rent__item
				+icon('icon-dollar', 'rent__icon', '68', '68')
				span.rent__count Во-первых
				p.rent__argument Рынок купли-продажи остается очень перегретым. За последний год цена на IPv4 выросла в два раза.
			li.rent__item
				+icon('icon-clock', 'rent__icon', '68', '68')
				span.rent__count Во-вторых
				p.rent__argument Аренда IP-адреса — это быстрый процесс, не требует больших инвестиций.
			li.rent__item
				+icon('icon-cup', 'rent__icon', '54', '68')
				span.rent__count В-третих
				p.rent__argument Легко просчитать затраты и при постепенном переходе на IPv6, просто отдать адреса обратно.
			li.rent__item
				+icon('icon-schedule', 'rent__icon', '45', '68')
				span.rent__count Во-четвёртых
				p.rent__argument Инвестиции в аренду можно легко просчитать, они логичны, прозрачны и масштабируемы.
