section.hero
	.hero__top
		.hero__phones
			a.hero__tel(href="tel:+74951092797") #[span.hero__tel--grey +7] #[span.hero__tel--yellow (495)] 109-27-97
			a.hero__tel(href="tel:+74951092797") #[span.hero__tel--grey +7] #[span.hero__tel--yellow (495)] 109-27-97
		.hero__megagroup
			span.hero__aliance в альянсе с
			+icon('icon-megagroup', 'hero__icon', '115', '16')
	.container
		h1.hero__title Мы предоставляем <b data-da=".hero__title--text-big,1280,0">блоки </b> #[span.hero__title--text-big <b>v4 IP-адресов</b>] #[span.hero__title--text-yellow аренда и покупка]
		p.hero__text Компания «Integrator.Digital» предлагает купить или арендовать IP-адреса V4
		form.hero__form(action="" method="post")
			input.hero__input._simple-phone(type="tel" placeholder="Телефон")
			button.button.hero__button.button--transparent(type="submit") Позвоните мне
				+icon('icon-arrow', 'hero__icon hero__icon--arrow', '7', '12')
