extends layout/main

block variables
	-var title = 'Главная страница'
	-var pageClass = 'index-page'

block content
	main(class=pageClass)
		include modules/hero/hero
		include modules/why-need/why-need
		include modules/about/about
		include modules/rent/rent
		include modules/provide/provide
		include modules/transfer/transfer
		include modules/order-ip/order-ip
