section.provide
	.container
		+icon('icon-crow', 'provide__icon provide__icon--crow', '144', '100')
		h2.provide__title.section__title Что мы предоставляем клиентам?
		p.provide__text Мы предоставляем адреса и для аренды, и на продажу. В случае аренды мы заключаем договор сроком от года до 8 лет с последующей пролонгацией. Цена фиксируется на весь период действия договора, поэтому Вы легко можете просчитать прибыльность проекта. Также мы предоставляем обновление WHOIS информации и геолокации в соответствии с Вашими нуждами. Это очень удобно, например при экспансии бизнеса на другие рынки. Если клиент все же решает что для него выгоднее покупка адресов, то в этом случае, мы предоставляем брокерский договор. Поиск продавца, согласование цены, обеспечение безопасности сделки - мы предоставляем весь сервис «под ключ».
		.provide__logo
			+icon('icon-leaf-left', 'provide__leaf provide__leaf--left', '178', '351')
			+icon('icon-logo--white', 'provide__icon provide__icon--logo', '280', '40')
			+icon('icon-leaf-right', 'provide__leaf provide__leaf--right', '178', '351')
		.provide__order.order
			h2.order__title.section__title Закажите IP-адрес прямо сейчас
			p.order__note Оставьте заявку, и наш специалист свяжется с вами
			form.order__form(action="" method="post")
				input.order__input.order__input--name(type="text" name="youName" placeholder="ФИО")
				input.order__input.order__input--email(type="email" name="youMail" placeholder="E-mail")
				input.order__input.order__input--phone._order-phone(type="tel" name="youPhone")
				button.order__submit.button.button--purple(type="submit") Заказать
					+icon('icon-arrow', 'hero__icon hero__icon--arrow', '7', '12')
			p.order__consent Нажимая кнопку "Заказать", я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-Ф3 "О персональных данных", на условиях и для целей, определенных в Согласии на обработку персональных данных.
