.button {
  align-items: center;
  background-color: $text-yellow-color;
  border: none;
  border-radius: 30px;
  color: $white;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: 300;
  opacity: 1;
  padding: 18px 30px;
  text-decoration: none;
  transition: opacity ease-out 0.15s;
  width: auto;
  &:hover {
    opacity: 0.6;
  }
  svg {
    margin-left: 10px;
  }
  &--transparent {
    background-color: transparent;
    border: 1px solid $white;
    padding: 17px 30px;
  }
  &--purple {
    background-color: $bg-purple-color;
  }
}
