section.transfer
	.container
		h2.transfer__title.section__title Процедура передачи
		p.transfer__note И что требуется от покупателя
	.transfer__box
		.transfer__wrapper
			.transfer__content
				.transfer__body
					p.transfer__text Наша компания представляет адреса в аренду своим клиентам всего за 48 часов. Для этого клиенту не обязательно иметь членство в RIR, потребуется только номер AS. AS — это автономная сеть, которую компания получает при подключении к двум или более операторам верхнего уровня. Автономная сеть используется для анонсирования сети и обмена трафиком. В соответствии с Вашими потребностями мы обновляем информацию WHOIS и данные по геолокации. <br><br>Таким образом через 48 часов Вы можете пользоваться адресами, как собственными. Мы гарантируем, что предоставляемые адреса чистые, т.е. не были блокированы и предоставляем Вам возможность проверить блоки перед арендой. В случае продажи, клиент должен иметь свой LIR аккаунт. Трансфер адресов от продавца к покупателю происходит на прямую на LIR аккаунт. В случае купли-продажи для безопасности, сделка может происходить с использованием Escrow сервиса, либо через нашу компанию, как посредника и гаранта безопасности.
			picture.transfer__picture
				source(media="(min-width: 1280px)", srcset="static/images/content/transfer-desktop@1x.png 1x, static/images/content/transfer-desktop@2x.png 2x")
				source(media="(min-width: 768px)", srcset="static/images/content/transfer-tablet@1x.png 1x, static/images/content/transfer-tablet@2x.png 2x")
				img.transfer__img(src="static/images/content/transfer@1x.png", alt="Кабель LAN", srcset="static/images/content/transfer@2x.png 2x" width="320" height="347")
	.container
		ul.transfer__list.list-transfer
			li.list-transfer__item
				img.list-transfer__number(src="static/images/content/number-01.png" alt="Цыфра 1" width="118" height="73")
				h3.list-transfer__title Лучшие предложения
				p.list-transfer__text Прежде всего наша компания является зарегистрированным брокером и крупнейшим владельцем блоков IP адресов в <b>RIPE NCC, APNIC, ARIN, LACNIC, AFRINIC.</b> Tristique venenatis, mollis mi et. Amet, ultrices nunc pretium convallis morbi neque, ut. Tellus consectetur commodo.
			li.list-transfer__item
				img.list-transfer__number(src="static/images/content/number-02.png" alt="Цыфра 2" width="118" height="73")
				h3.list-transfer__title Быстрый сервис
				p.list-transfer__text У нас всегда есть возможность выделить блок для аренды в кратчайшие сроки. Вы можете начать пользоваться адресами <b>уже через 48 часов</b> после заключения сделки. Это очень важно при масштабировании бизнеса или при экспансии в другие страны.
			li.list-transfer__item
				img.list-transfer__number(src="static/images/content/number-03.png" alt="Цыфра 3" width="118" height="73")
				h3.list-transfer__title Надёжность
				p.list-transfer__text Мы очень тщательно подходим к выбору клиентов и не допускаем массовых блокировок наших адресов, следим чтобы использование было <b>строго в рамках закона</b> и заключаем долгосрочные контракты. Именно это дает нам гарантированную чистоту и надёжность предоставляемых блоков.
