footer.footer
	.container
		h2.footer__title.section__title Наши контакты
		.footer__box
			.footer__content
				ul.footer__contacts.contacts-footer
					li.contacts-footer__item
						span.contacts-footer__count 1
						.contacts-footer__contacts
							span.contacts-footer__town Санкт-Петербург
							a.contacts-footer__phone.hero__tel(href="tel:+78122090797") #[span.hero__tel--grey +7] #[span.hero__tel--yellow (812)] 209-07-97
					li.contacts-footer__item
						span.contacts-footer__count 2
						.contacts-footer__contacts
							span.contacts-footer__town Москва
							a.contacts-footer__phone.hero__tel(href="tel:+74951090797") #[span.hero__tel--grey +7] #[span.hero__tel--yellow (495)] 109-07-97
					li.contacts-footer__item
						span.contacts-footer__count 3
						.contacts-footer__contacts
							span.contacts-footer__town Барнаул
							a.contacts-footer__phone.hero__tel(href="tel:+73852595097") #[span.hero__tel--grey +7] #[span.hero__tel--yellow (385)] 259-50-97
					li.contacts-footer__item
						span.contacts-footer__count 4
						.contacts-footer__contacts
							span.contacts-footer__town Екатеринбург
							a.contacts-footer__phone.hero__tel(href="tel:+73433022797") #[span.hero__tel--grey +7] #[span.hero__tel--yellow (343)] 302-27-97
				.footer__map#map
				p.footer__address 196247, Россия, Санкт-Петербург, площадь Конституции, дом 1
					+icon('icon-mappin', 'footer__icon footer__icon--mappin', '15', '20')
				a.footer__mail(href="mailto:sales@integrator.digital") sales@integrator.digital
					+icon('icon-at', 'footer__icon footer__icon--at', '15', '16')
			form.footer__for.form-footer(action="" method="post")
				input.form-footer__input.form-footer__input--name(type="text" name="youName" placeholder="ФИО")
				input.form-footer__input.form-footer__input--mail(type="email" name="youMail" placeholder="E-mail")
				input.form-footer__input._order-phone.form-footer__input--phone(type="tel" name="youPhone")
				textarea.form-footer__textarea.form-footer__input(name="youText" placeholder="Ваше сообщение")
				.form-footer__bottom
					input.form-footer__checkbox(type="checkbox" id="checkboxAccept" requared)
					label.form-footer__label(for="checkboxAccept") Нажимая кнопку, я даю согласие на обработку своих персональных данных и соглашаюсь с #[a(href="#") политикой конфиденциальности]
					button.form-footer__submit.button(type="submit") Отправить
						+icon('icon-arrow', 'hero__icon hero__icon--arrow', '7', '12')
